.about-main-content {
    text-align: left;
}

.about-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.about-links > div {
    width: 80%;

    text-align: center;

    border: 1px solid;
    border-radius: 15px;

    margin-top: 5px;
    padding: 0px 15px 0px 15px;
}