.about-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about-container > div {
    padding-left: 15px;
    padding-right: 15px;
}

.about-main-content {
    text-align: left;
}

.about-links {
    text-align: center;
}