.folders-container {
    /* This is required in order for the table to overflow rather than the entire page */
    height: 100%;
    margin-top: 15px;
}

.folders-body {
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

.folders-list {
    max-height: 90%;
    border: 1px solid;
    border-radius: 15px;
    padding: 15px;

    overflow-y: auto;
}

table {
    width: 100%;
    min-height: 0;
    border-collapse:collapse;
    text-align: center;
}

th {
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid;
}

.disabled {
    background-color: #ffcccc;
}

.selected {
    background-color: #b3e0ff !important;
}

.folders-add-remove-container {
    flex: 1 1 10%;
    margin-top: 8px;
}

.folders-add-remove-container > div {
    display: flex;
    justify-content: left;
}

.folders-add-remove-container > div > button {
    margin: 5px;
}

.modal-container {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    bottom: 30%;
    
    color: grey;
    background-color: white;


    border: 1px solid;
    border-radius: 15px;

    padding: 15px;
}

.modal-container > h2 {
    margin-top: .4em;
    text-align: center;
}

.modal-form {
    margin-top: 15px;
    padding: 15px;

    border: 1px solid;
    border-radius: 15px;
}

.modal-label {
    display: flex;
    align-content: center;
}

.modal-label > div {
    width: 25%;
}

.modal-label > div > span {
    color: red !important;
}

.modal-label > button {
    margin-left: 5px;
}

.modal-label > input[type=text] {
    flex-grow: 1;
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-label > input[type=checkbox] {
    transform: scale(1.35);
}

.modal-submit-container {
    margin-top: 15px;
}

.modal-submit-container > div {
    display: flex;
    justify-content: left;
}

.modal-submit-container > div > button {
    margin: 5px;
}

.modal-submit-container > p {
    color: red !important;
}