.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;

    width: 62%;
    height: 60%;

    border: 1px solid;
    border-radius: 15px;

    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
}

.navbar-button {
    flex: 1 0 0;

    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 90%;
    text-align: center;

    background-color: transparent;
    border-bottom: 2px solid;
    border-radius: 15px 15px 0px 0px;

    /* These properties will be overidden whenever a given navbar button is active. */
    font-weight: normal;
    border-color: transparent;
}

.navbar-button:hover {
    background-color: #f2f2f2;
    transition: background-color 150ms linear;
    border-color: transparent transparent #d9d9d9 transparent !important;
}

.navbar-button > div {
    display: flex;
    flex-flow: column;
}

.navbar-active {
    font-weight: bold !important;
    border-color: transparent transparent #0075ff transparent !important;
}

.navbar-icon {
    font-size: 2rem;
    display: block;
}