.window-container {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "window-header"
        "window-body";
    grid-template-rows: 23% 77%;
    gap: 0;
}

.window-header {
    height: 100%;
    grid-area: window-header;
    text-align: center;
    background-color: #0075ff;
    padding-top: 30px;
}

.window-header > h1 {
    color: white;
    margin-top: .4em;
    margin-bottom: .4em;
}

.window-body {
    grid-area: window-body;

    width: 75%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
